<%- await include("partials/header.ejs") %>
<h1 class="py-3 text-xl text-center">
  <% if (user?.isAdmin) { %>
  <a href="/v/<%= entity.id %>?refetch" alt="Refetch Entity" title="Refetch Entity" class="relative inline-flex items-center px-2 bg-white border rounded-full hover:shadow-lg">
    <div class="flex items-center flex-grow-0 flex-shrink-0 h-10 cursor-pointer">
      <i class="fa fa-refresh"></i>
    </div>
  </a>
  <% } %>
  <%= entity.title %>
  <% if (user) { %>
  <a href="/v?entity=<%= entity.id %>" alt="Create Collection" title="Create Collection" class="relative inline-flex items-center px-2 bg-white border rounded-full hover:shadow-lg">
    <div class="flex items-center flex-grow-0 flex-shrink-0 h-10 cursor-pointer">
      <i class="fa fa-plus"></i>
    </div>
  </a>
  <% } %>
</h1>



<% if (entity.type === 'YouTube') { %>
<iframe class="w-10/12 m-auto aspect-video" src="https://www.youtube.com/embed/<%= entity._id %>?start=<%= query.t ? hmsToSeconds(query.t) : '0' %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<% } else {  %>
<iframe class="w-10/12 m-auto aspect-video" src="https://player.twitch.tv/?video=<%= entity._id %>&time=<%= query.t %>&parent=example.com" allowfullscreen></iframe>
<% } %>
<div class="flex flex-row w-10/12 gap-1">
  <time datetime="<%= entity.createdAt %>" alt="<%= entity.createdAt %>" title="<%= entity.createdAt %>">
    <i class="fa fa-calendar-o"></i>
  </time>
</div>

<%- await include("partials/collections.ejs", { collections: entity.collections }) %>


<%- await include("partials/footer.ejs") %>